<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Agriguida</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,700' rel='stylesheet'
        type='text/css'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
    <link href="static/css/styles.css" rel="stylesheet">
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon" />
    <script type="text/JavaScript" src="static/js/cities.js"></script>
    <link rel="stylesheet" href="styles.css">

    <style>
        html body {
            background-color: #e4e4e4;
        }
    </style>
</head>

<body>
    <div class="tm-top-header">
        <div class="container">
            <div class="row">
                <div class="tm-top-header-inner">
                    <div class="tm-logo-container">
                        <h1 class="tm-site-name tm-handwriting-font">Agriguida</h1>
                    </div>
                    <div class="mobile-menu-icon">
                        <i class="fa fa-bars"></i>
                    </div>
                    <nav class="tm-nav">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="CropRecommendation.html">Crop</a></li>
                            <li><a href="FertilizerRecommendation.html">Fertilizer</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-image">
        <div class="content">
            <h1 class="tm-heading">Welcome to AGRIGUIDA</h1>
            <div class="button-section">
                <div class="button-box">
                    <div class="icon-box">
                        <img src="static/img/images/icon1.png" alt="Icon 1">
                    </div>
                    <a href="CropRecommendation.html" class="tm-button">Crop<br>Recommendation</a>
                </div>
                <div class="button-box">
                    <div class="icon-box">
                        <img src="static/img/images/icon2.png" alt="Icon 2">
                    </div>
                    <a href="FertilizerRecommendation.html" class="tm-button">Fertilizer<br>Recommendation</a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <!-- Footer content -->
    </footer>

    <script type="text/javascript" src="static/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="static/js/templatemo-script.js"></script>
</body>

</html>
